* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

.wrapper { background: yellow;
    height: 100vh;
    min-width: 100vw;
}

.cover--intro {
    height: 100%;
    min-width: 100%;
    background: no-repeat url(/img/background__intro.png);
    background-size: cover ;
    background-position: 50% 1%;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 1;
}

.wrapper, .cover--intro {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.logo--intro {
    padding-bottom: 26px;
}

.button {
    width: 183px;
    height: 45px;
    border: 2px solid #ec1e79;
     background-color: transparent;
    }

.button:hover {
    background-color: #ec1e79;
    cursor: pointer;
}

.button__link {
    display: block;
    /* margin: auto; */
    font-size: 12px;
    font-family: bothampro_bold, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ec1e79;
    text-decoration: none;
}

.button:hover .button__link {
    color: white;   
}