/* тему шрифты нужно ещё раз глянуть */
@font-face {
    font-family: 'gotham_proregular';
    src: url('/fonts/gothampro-webfont.woff2') format('woff2'),
         url('/fonts/gothampro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_probold';
    src: url('/fonts/gothaprobol-webfont.woff2') format('woff2'),
         url('/fonts/gothaprobol-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight';
    src: url('/fonts/gothaprolig-webfont.woff2') format('woff2'),
         url('/fonts/gothaprolig-webfont.woff') format('woff');
    font-weight: 300l;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('/fonts/gothaproligita-webfont.woff2') format('woff2'),
         url('/fonts/gothaproligita-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* СТРАНИЦА -------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.42;
}
h1, h2, h3, 
ul
/*, 
 li*/ { 
    padding: 0; margin: 0;
}

/* body {

} */
.wrapper {
    overflow: hidden;
    min-width: 1100px;
}

.header {
    background-color: #2b2b40;
    width: 100%;
}

.header .container {
    height: 75px;
    width: 1100px;
    color: white;
}

.header .logo {
margin-left: 20px;
position: relative;
/* background: green; */
/* vertical-align: middle;  */
 z-index: 1000;
 height: 100%;
 width: 100px;
}

.header .logo__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0; padding: 0; 
  /* border: 2px solid red; */
    height: 100%; 
    width: 100%;
     position: relative; 
}
 
.header .logo__img {
    /* display: block; */
    /* vertical-align: middle; */
   position: absolute;
   margin: auto;
   top: 0; right: 0; left: 0; bottom: 0;
} /**/

.header .contacts {
    position: absolute;
    right: 20px; top: 0;
    /* background: pink; */
    height: 100%;
    width: 200px;
    display: inline-block;
}

.contacts__holder {    
    width: 100%;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background: yellow; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.phone {
text-align: right;
}

.phone__number {
    text-decoration: none;
    color: inherit;  
    font-family: 'gotham_probold';
    font-size: 21px;

}

.schedule__title {
    font-family: 'open_sansbold', sans-serif;
    font-weight: 700;
   color:  #a42568;
   text-align: right;
    font-size: 14px;
    margin-top: 0px;
    text-decoration: underline;
    margin-top: -2px;
}

.schedule__desc {
    display: none;
    display: absolute;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    width: 1100px;
    /* background-color: yellow; */
    height: 100%;
    position: relative;
}
/* ОБЛОЖКА---------------------------------- */
.cover {
    margin: 0 auto; padding: 0 auto;
    background: pink;
    /* width: 1100px; */
    overflow: hidden;}

.cover__img {
    display: block;
    margin: 0; padding: 0;
}


/* БОКОВОЕ МЕНЮ----------------------------- */
.sidebar, .main {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0px;
    /* padding-top: 66px; */
    /* font-family:'go' */
}

    .sidebar {
        /* margin: 0; padding: 0; */
        width: 190px;
        /* background-color: lightgray; */
        font-family: 'gotham_probold', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 50px;
    }

.menu {
    margin: 50px 0 0 22px; padding: 0;
    list-style: none;
    }

.menu-item__link {
    text-decoration: none;
    color: #ca2376;
    /* ===================================== */
    /* display: inline-block; */
    /* height: 1em; margin: 0; padding: 0; background: yellow; */
}

.menu__item:hover .menu-item__link {
    border-bottom: #d3d3d3 solid 1px;
    color: black; 
}
   .menu-item__link:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    /* background: red; */
    margin-right: 18px;
    vertical-align: middle;
}

   .menu__item:first-child .menu-item__link:before {
    background-image: url(/img/main_icon.png);
           }
    
       .menu__item:nth-child(2) .menu-item__link:before {
        background: url(/img/feed_icon.png);
    }
    
    .menu__item:nth-child(3) .menu-item__link:before {
        background: url(/img/wallet_icon.png);
    }

 .menu__item:first-child:hover .menu-item__link:before {
background-image: url(/img/main_icon_hover.png);
   }

   .menu__item:nth-child(2):hover .menu-item__link:before {
    background: url(/img/feed_icon_hover.png);
}

.menu__item:nth-child(3):hover .menu-item__link:before {
    background: url(/img/wallet_icon_hover.png);
}

/* КОНТЕНТ -----------------------------------------------*/
/* ====================================================== */
.container__page {
    letter-spacing: -5px;
}

    .main {
        width: 910px;
        background: lightgreen;
        margin: 0; 
      /*   padding: 0; */
    }

    /* ОСОБЕНОСТИ================================== */

    .features__title {
        font-family: 'gotham_probold', sans-serif;
        font-size: 48px;
        margin-left: 10px;
        margin-top: 52px;
    }

.features-row {
    /* width: 100%; */
    letter-spacing: -4px;
    margin-top: 38px;
    /* margin-left: 20px; */
    /* margin-right: 150px; */
    background:cadetblue
}

.features-unit {
    font-size: 18px;
    font-family: 'gotham_proregular', sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    letter-spacing: 0px;
    background: yellow;
    text-align: center;
    /* margin-right: 60px; */
    margin-left: 10px;
    margin-right: 10px;
}

.feautures-unit:nth-child(2), .feautures-unit:nth-child(3) {
    margin-left: 66px;
    background:burlywood;
}

.features-unit__list {
    /* padding-left: 20px; */
    text-align: left;
    background: red;
    /* margin: default;
    padding: default; */
    margin: 0 auto;
    
}

.features-unit__img-box {
    background-color:#2b2b40;
    width: 70px; height: 70px;
    border-radius: 50px;
    margin: 10px auto;
    position: relative;
}

.featuures-unit__img {
    display: box;
    width: 28px; height: 28px;
    background-image: center center no-repeat contain ;
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

.features-unit__title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'gotham_probold',sans-serif;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: .1em;
}

.features-unit__subtitle {
    margin-top: 18px;
    font-family: 'gotham_proregular', sans-serif;
    font-weight: 400;
    margin: 18px 0 0 0;

}