/* тему шрифты нужно ещё раз глянуть */
@font-face {
    font-family: 'gotham_proregular';
    src: url('/fonts/gothampro-webfont.woff2') format('woff2'),
         url('/fonts/gothampro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_probold';
    src: url('/fonts/gothaprobol-webfont.woff2') format('woff2'),
         url('/fonts/gothaprobol-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight';
    src: url('/fonts/gothaprolig-webfont.woff2') format('woff2'),
         url('/fonts/gothaprolig-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('/fonts/gothaproligita-webfont.woff2') format('woff2'),
         url('/fonts/gothaproligita-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* СТРАНИЦА -------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.42;
    margin: 0; padding: 0;
}

body {
    margin: 0; padding: 0;
}

h1, h2, h3, 
ul
, 
 li { 
    padding: 0; margin: 0;
}

/* body {

} */
.wrapper {
    overflow: hidden;
    min-width: 1100px;
}

.header {
    background-color: #2b2b40;
    width: 100%;
}

.header .container {
    height: 75px;
    width: 1100px;
    color: white;
}

.header .logo {
margin-left: 20px;
position: relative;
/* background: green; */
/* vertical-align: middle;  */
 z-index: 1000;
 height: 100%;
 width: 100px;
}

.header .logo__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0; padding: 0; 
  /* border: 2px solid red; */
    height: 100%; 
    width: 100%;
     position: relative; 
}
 
.header .logo__img {
    /* display: block; */
    /* vertical-align: middle; */
   position: absolute;
   margin: auto;
   top: 0; right: 0; left: 0; bottom: 0;
} /**/

.header .contacts {
    position: absolute;
    right: 20px; top: 0;
    /* background: pink; */
    height: 100%;
    width: 200px;
    display: inline-block;
}

.contacts__holder {    
    width: 100%;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background: yellow; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.phone {
text-align: right;
}

.phone__number {
    text-decoration: none;
    color: inherit;  
    font-family: 'gotham_probold';
    font-size: 21px;

}

.schedule__title {
    font-family: 'open_sansbold', sans-serif;
    font-weight: 700;
   color:  #a42568;
   text-align: right;
    font-size: 14px;
    margin-top: 0px;
    text-decoration: underline;
    margin-top: -2px;
}
.schedule__title:hover  {
   color:  #847dab;
   cursor: pointer;
}



.schedule__desc {
    display: none;
    position: absolute;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    /* background-color: yellow; */
    height: 100%;
    position: relative;
}
/* ОБЛОЖКА---------------------------------- */
.cover {
    margin: 0 auto; padding: 0;
    /* background: pink; */
    /* width: 1100px; */
    overflow: hidden;}

.cover__img {
    display: block;
    margin: 0; padding: 0;
}


/* БОКОВОЕ МЕНЮ----------------------------- */
.sidebar, .main {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0px;
    /* padding-top: 66px; */
    /* font-family:'go' */
}

    .sidebar {
        /* margin: 0; padding: 0; */
        width: 190px;
        /* background-color: lightgray; */
        font-family: 'gotham_probold', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 50px;
    }

.menu {
    margin: 50px 0 0 22px; padding: 0;
    list-style: none;
    }

.menu-item__link {
    text-decoration: none;
    color: #ca2376;
}

.menu__item:hover .menu-item__link, .menu .menu__item--current .menu-item__link {
    color: black; 
}

.menu__item:hover .menu-item__link-text, .menu .menu__item--current .menu-item__link-text {
    border-bottom: #d3d3d3 solid 1px;
}

  .menu-item__link:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    /* background: red; */
    margin-right: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

   .menu__item:first-child .menu-item__link:before {
    background-image: url(/img/main_icon.png);
           }
    
       .menu__item:nth-child(2) .menu-item__link:before {
        background-image: url(/img/feed_icon.png);
    }
    
    .menu__item:nth-child(3) .menu-item__link:before {
        background-image: url(/img/wallet_icon.png);
    }

 .menu__item:first-child:hover .menu-item__link:before, .menu .menu__item--current .menu-item__link:before  {
background-image: url(/img/main_icon_hover.png);
   }

   .menu__item:nth-child(2):hover .menu-item__link:before, .menu__item:nth-child(2).menu__item--current .menu-item__link:before {
    background-image: url(/img/feed_icon_hover.png);
}

.menu__item:nth-child(3):hover .menu-item__link:before, .menu__item:nth-child(3).menu__item--current .menu-item__link:before {
    background-image: url(/img/wallet_icon_hover.png);
}

/* КОНТЕНТ -----------------------------------------------*/
/* ====================================================== */
.container__page {
    letter-spacing: -5px;
}

    .main {
        width: 910px;
        /* background: lightgreen; */
        margin: 0; 
      /*   padding: 0; */
    }

    /* ОСОБЕНОСТИ================================== */

    .features__title {
        font-family: 'gotham_probold', sans-serif;
        font-size: 48px;
        margin-left: 10px;
        margin-top: 52px;
    }

.features-row {
    /* width: 100%; */
    letter-spacing: -4px;
    margin-top: 38px;
    /* margin-left: 20px; */
    /* margin-right: 150px; */
    /* background:cadetblue */
}

.features-unit {
    font-size: 18px;
    font-family: 'gotham_proregular', sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    letter-spacing: 0px;
    /* background: yellow; */
    text-align: center;
    /* margin-right: 60px; */
    margin-left: 10px;
    margin-right: 10px;
}

.feautures-unit:nth-child(2), .feautures-unit:nth-child(3) {
    margin-left: 66px;
    /* background:burlywood; */
}

.features-unit__img-box {
    background-color:#2b2b40;
    width: 70px; height: 70px;
    border-radius: 50px;
    margin: 10px auto;
    position: relative;
}

.featuures-unit__img {
    display: block;
    width: 28px; height: 28px;
    /* background: center center / no-repeat contain ; */
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

.features-unit__title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'gotham_probold',sans-serif;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: .1em;
}

.features-unit__subtitle {
    margin-top: 18px;
    font-family: 'gotham_proregular', sans-serif;
    font-weight: 400;
    margin: 18px 0 0 0;
    
}

.features-unit__list {
    /* padding-left: 20px; */
    text-align: left;
    /* background: red; */
    /* margin: default;
    padding: default; */
    width:70%;
    margin: 4px auto 0 auto;
    line-height: 1.8em;
}

.features-unit__list-item {
    padding-left: 28px;
}

/* НОВОСТИ----------------------------- */

h2.feed__title {
    margin-top: 70px;
    margin-left: 12px;
    font-size: 48px;
    font-family: 'gotham_probold', sans-serif;
}

.feed__list {
    list-style: none;
    margin-top: 26px;
}
.feed__item {
    padding-top: 30px;
    padding-bottom: 20px;
    /* width: 888px; */
    height:  170px;
    border-bottom: 2px solid #f4f4f4;
    /* height: 220px;
    border-top: 2px solid #f4f4f4; */
    font-family: robotolight, sans-serif;
}

.feed__item:last-child {
border-bottom: none;
}

.feed__img-box {
    width: 160px;
    height: 160px;
    /* background: yellow; */
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.feed__img {
display: block;
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: 70% 50%;
}

.feed__content {
    display: inline-block;
    overflow: hidden;
    /* background: pink; */
    vertical-align: middle;
    width: 730px;
    height: 100%;

}

.feed__data {
    margin: 0 0 0px 0;
    font-size: 14px;
}
h3.feed__title {
margin: 0 0 6px 0;
font-family: robotobold, sans-serif;
}

.feed__text {
    margin: 0; padding: 0;
    line-height: 1.6em;
}

/* ПАГИНАЦИЯ================= */

.pagination__display, 
.pagination__control, .pagination__list, .pagination__item  {
    display: inline-block;
}

.pagination {
    text-align: center;
    
}

.pagination {
    margin-top: 50px;
    font-family: robotolight, sans-serif;
    font-size: 14px;
}

.pagination__display {
    margin-right: 20px;
    /* margin-left: 20px; */
}

.pagination__control-link {
   padding: 14px;
   text-decoration: none;
   background-color: yellow;;
}

.pagination__control-link--left {
    background: no-repeat center url(/img/pagination/left.png);
}

.pagination__control-link--right {
    background: no-repeat center url(/img/pagination/right.png);
}

.pagination__control-link--active {
    opacity: .3;
}


.pagination__list {
    /* background: red; */
    letter-spacing: 0;
}

.pagination__list, .pagination__item {
    margin: -4px; padding: 0;
    /* letter-spacing: -4px; */
}
.pagination__link {
    text-align: center;
    padding: 4px 10px ;
    text-decoration: none;
    font-family: robotobold, sans-serif;
    font-size: 14px;
}

.pagination__item--current .pagination__link {
    background-color: #2b2b40; color: white;
    border-radius: 5px;
}

/* FOOTER===================== */

.footer {
    width: 100%;
    background-color: #2b2b40;
    margin-top: 74px;
    color: white;
}

.footer .container {
    height: 78px; position: relative;
}

.footer .copyright, .footer .logo, .social{
    display: inline-block; vertical-align: middle;
}

.footer .copyright {
    width: 272px;
    padding: 12px 0 0px 18px;
    font-family: robotolight, sans-serif;
    font-size: 14px;
}

.copyright__link {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

.social {
    width: 210px;
    /* background: black; */
    position: absolute;
    right: 0;
    padding-right: 20px; padding-left: 20px;
    padding-top: 16px;
    font-family: gothamprobold, sans-serif;
    font-weight: 700;
    font-size:  14px;
}

.social__title {
    text-align: right; color: white;
}

.social__list {
    margin-left: 46px;
    margin-top: 4px;
}

.social__item {
    display: inline-block; margin: 0; padding: 0;
}

.social__link {
    width: 22px; height: 22px; background: #d3d3d7;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .logo {
    position: absolute;
    top: 16px;
    left: 498px;
}

.social__item:hover .social__link {
    background-color: #cb2376;
}

.social__link-fb {
    background-image: url(/img/social/png/facebook.png);
    background-size: 40%;
}

.social__link-vk {
    background-image: url(/img/social/png/vk.png);
}

.social__link-mail{
    background-image: url(/img/social/png/envelope.png);
}

.social__link-twitter {
    background-image: url(/img/social/png/twitter.png);
}

/* ТАРИФЫ+++++++++++++++++++++++++++++ */

.breadscrumbs__list {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.breadscrumbs__item {
    display: flex;
}

.breadscrumbs__link {
text-decoration:  none;
display: flex;
}

.breadscrumbs__link:after {
    content: "/";
    display: block;
    padding: 0 3px;
}
.price {
    display: flex;
    flex-direction: column;
}

.price-row {
display: flex;
justify-content: space-between;
margin-right: 40px;
}

.offer {
display: flex;
flex-direction:column;
width: 250px;

}

.offer__img-box {
    width: 250px;
    height: 154px;
    position: relative;
    /* background: yellow; */
    display: flex;
    align-items:center;
    justify-content: center;
}

.offer__img {
display: block;
}

.offer__img-overlay {
    content: "";
    display: block;
    /* width: 250px;
    height: 154px; */
     position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: black;
    opacity: .85;
    z-index: 1;
}

.offer__img-box:hover .offer__img-overlay {
    display: none;
}

.offer__name {
    position: absolute;
    /* top: 0; bottom: 0; left: 0; right: 0; */
    margin: auto;
    border: 2px dotted red;
    color:cornflowerblue;
    z-index: 2;
    font-family: gothamprobold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

/* ПАРТНЕРЫ======================= */

.partners {
display: flex;
flex-direction: column;
}

.partners__row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 640px;
}

.partners__unit-box {
    width: 180px; height: 80px;
display: flex;
justify-content: center;
/* align-items: center; */
}

.partners__unit {
 width: 180px; height: 80px;
border: 2px solid red;
}

.partners__unit-box:first-child .partners__unit {
    width: 160px; height: 41px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -0;
}

.partners__unit-box:first-child .partners__unit:hover {
    width: 160px; height: 41px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -41px;
}

.partners__unit-box:nth-child(2) .partners__unit {
    width: 123px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -202px;
}

.partners__unit-box:nth-child(2) .partners__unit:hover {
    width: 123px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -264px;
}


.partners__unit-box:nth-child(3) .partners__unit {
    width: 130px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -326px;
}


.partners__unit-box:nth-child(3) .partners__unit:hover {
    width: 130px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -388px;
}

/* второй ряд============= */

.partners__unit-box:nth-child(4) .partners__unit {
    width: 160px; height: 60px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -82px;
}


.partners__unit-box:nth-child(4) .partners__unit:hover {
    width: 160px; height: 60px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -142px;
}


.partners__unit-box:nth-child(5) .partners__unit {
    width: 137px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -450px;
}


.partners__unit-box:nth-child(5) .partners__unit:hover {
    width: 137px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -512px;
}


.partners__unit-box:nth-child(6) .partners__unit {
    width: 51px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -574px;
}

.partners__unit-box:nth-child(6) .partners__unit:hover {
    width: 51px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -636px;
}

.title.title__partners {
    margin: 72px 0 40px 0;
    font-family: gothambold, sans-serif;
    font-size: 49px;
    font-weight: 700;
}

.title.title__tarifs {
    font-family: gothambold, sans-serif;
    margin-bottom: 42px;
    font-size: 49px;
}