* {
box-sizing: border-box;}
/* тему шрифты нужно ещё раз глянуть */
@font-face {
    font-family: 'gotham_proregular';
    src: url('/fonts/gothampro-webfont.woff2') format('woff2'),
         url('/fonts/gothampro-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_probold';
    src: url('/fonts/gothaprobol-webfont.woff2') format('woff2'),
         url('/fonts/gothaprobol-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight';
    src: url('/fonts/gothaprolig-webfont.woff2') format('woff2'),
         url('/fonts/gothaprolig-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_prolight_italic';
    src: url('/fonts/gothaproligita-webfont.woff2') format('woff2'),
         url('/fonts/gothaproligita-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* СТРАНИЦА -------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.42;
    margin: 0; padding: 0;
}

body {
    margin: 0; padding: 0;
}

h1, h2, h3, ul,  li { 
    padding: 0; margin: 0;
}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER================= */
.header {
    background-color: #2b2b40;
    width: 100%;
}

.header .container {
    min-height: 75px;
    width: 1100px;
    color: white;
    display: flex;
    justify-content: space-between;
    /* background-color: burlywood; */
    align-items:center;
}

.header .logo {
margin-left: 20px;
position: relative;
/* background: green; */
/* vertical-align: middle;  */
 z-index: 1000;
 height: 100%;
 width: 100px;
}

.header .logo__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0; padding: 0; 
  /* border: 2px solid red; */
    height: 100%; 
    width: 100%;
     position: relative; 
}
 
.header .logo__img {
    /* display: block; */
    /* vertical-align: middle; */
   position: absolute;
   margin: auto;
   top: 0; right: 0; left: 0; bottom: 0;
} /**/

.header .contacts {
    /* position: absolute;
    right: 10px; top: 0; */
    /* background: pink; */
    height: 100%;
    /* width: 200px; */
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.contacts__holder {    
    width: 100%;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* background: yellow; */
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

.phone {
text-align: right;
}

.phone__number {
    text-decoration: none;
    color: inherit;  
    font-family: 'gotham_probold';
    font-size: 21px;

}

.schedule__title {
    font-family: 'open_sansbold', sans-serif;
    font-weight: 700;
   color:  #a42568;
   text-align: right;
    font-size: 14px;
    margin-top: 0px;
    text-decoration: underline;
    margin-top: -2px;
}
.schedule__title:hover  {
   color:  #847dab;
   cursor: pointer;
}

 /* may be better schedule__content?--- */

.schedule__desc {
    display: none;
    position: absolute;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    /* background-color: yellow; */
    height: 100%;
    position: relative;
}
/* ОБЛОЖКА---------------------------------- */
.cover {
    margin: 0 auto; padding: 0;
    /* background: pink; */
    /* width: 1100px; */
    overflow: hidden;}

.cover__img {
    display: block;
    margin: 0; padding: 0;
}


/* БОКОВОЕ МЕНЮ----------------------------- */

    .sidebar {
        /* margin: 0; padding: 0; */
        flex-basis: 190px;
        /* background-color: lightgray; */
        font-family: 'gotham_probold', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 50px;
        flex-shrink: 0;
    }

.menu {
    margin: 52px 0 0 22px; padding: 0;
    list-style: none;
    }

    .menu.menu--offer {
    margin-top: 30px;
    }

.menu__link {
    text-decoration: none;
    color: #ca2376;
    padding: 10px 0 10px 0;
    
}

.menu__item:hover .menu__link, .menu .menu__item--current .menu__link {
    color: black; 
}

.menu__item:hover .menu__link-text, .menu .menu__item--current .menu__link-text {
    border-bottom: #d3d3d3 solid 1px;
}

  .menu__link:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    /* background: red; */
    margin-right: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

   .menu__item:first-child .menu__link:before {
    background-image: url(/img/main_icon.png);
           }
    
       .menu__item:nth-child(2) .menu__link:before {
        background-image: url(/img/feed_icon.png);
    }
    
    .menu__item:nth-child(3) .menu__link:before {
        background-image: url(/img/wallet_icon.png);
    }

 .menu__item:first-child:hover .menu__link:before, .menu .menu__item--current .menu__link:before  {
background-image: url(/img/main_icon_hover.png);
   }

   .menu__item:nth-child(2):hover .menu__link:before, .menu__item:nth-child(2).menu__item--current .menu__link:before {
    background-image: url(/img/feed_icon_hover.png);
}

.menu__item:nth-child(3):hover .menu__link:before, .menu__item:nth-child(3).menu__item--current .menu__link:before {
    background-image: url(/img/wallet_icon_hover.png);
}

/* КОНТЕНТ -----------------------------------------------*/
/* ====================================================== */
.container--page {
    /* letter-spacing: -5px; */
    display: flex;
}

    .main {
        /* width: 910px; */
        /* background: lightgreen; */
        margin: 0; 
      /*   padding: 0; */
    }

    .page {flex: 1;}

    /* ОСОБЕНОСТИ================================== */

    .features__title {
        font-family: 'gotham_probold', sans-serif;
        font-size: 48px;
        margin-left: 10px;
        margin-top: 52px;
    }

.features-row {
    display: flex;
    /* width: 100%; */
    /* letter-spacing: -4px; */
    margin-top: 38px;
    /* margin-left: 20px; */
    /* margin-right: 150px; */
    /* background:cadetblue */
}

.features-unit {
    font-size: 18px;
    font-family: 'gotham_proregular', sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    letter-spacing: 0px;
    /* background: yellow; */
    text-align: center;
    /* margin-right: 60px; */
    margin-left: 10px;
    margin-right: 10px;
}

.feautures-unit:nth-child(2), .feautures-unit:nth-child(3) {
    margin-left: 66px;
    /* background:burlywood; */
}

.features-unit__img-box {
    background-color:#2b2b40;
    width: 70px; height: 70px;
    border-radius: 50px;
    margin: 10px auto;
    position: relative;
}

.featuures-unit__img {
    display: block;
    width: 32px; height: 32px;
    /* background: center center / no-repeat contain ; */
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
}

.features-unit__title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'gotham_probold',sans-serif;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: .1em;
}

.features-unit__subtitle {
    margin-top: 18px;
    font-family: 'gotham_proregular', sans-serif;
    font-weight: 400;
    margin: 18px 0 0 0;
    
}

.features-unit__list {
    /* padding-left: 20px; */
    text-align: left;
    /* background: red; */
    /* margin: default;
    padding: default; */
    width:70%;
    margin: 4px auto 0 auto;
    line-height: 1.8em;
}

.features-unit__list-item {
    padding-left: 28px;
}

/* НОВОСТИ----------------------------- */

h2.feed__title {
    margin-top: 70px;
    margin-left: 12px;
    font-size: 48px;
    font-family: 'gotham_probold', sans-serif;
}

.feed__list {
    list-style: none;
    margin-top: 36px;
}
.feed__item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    /* width: 888px; */
    /* height:  170px; */
    border-bottom: 2px solid #f4f4f4;
    /* height: 220px;
    border-top: 2px solid #f4f4f4; */
    font-family: robotolight, sans-serif;
}

.feed__item:last-child {
border-bottom: none;
}

.feed__img-box {
    width: 160px;
    height: 160px;
    /* background: yellow; */
    /* display: inline-block; */
    margin-right: 20px;
    vertical-align: middle;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.feed__img {
display: block;
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: 70% 50%;
}

.feed__content {
    /* display: inline-block; */
    overflow: hidden;
    /* background: pink; */
    vertical-align: middle;
    width: 730px;
    height: 100%;

}

.feed__data {
    margin: 0 0 0px 0;
    font-size: 14px;
}
h3.feed__title {
margin: 0 0 6px 0;
font-family: robotobold, sans-serif;
}

.feed__text {
    margin: 0; padding: 0;
    line-height: 1.6em;
}

/* ПАГИНАЦИЯ================= */

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-family: robotolight, sans-serif;
    font-size: 14px;
    /* background-color: burlywood; */
}

.pagination__holder {
display: flex;
/* background-color: cadetblue; */
align-items: center;
}

.pagination__list {
display: flex;
list-style: none;
/* background-color: chartreuse; */
align-items: center;
}

.pagination__display {
    padding-right: 8px;
    /* margin-left: 20px; */
    display: flex;
    align-items: center;
}

.pagination__control {
display: flex;
align-items: center;
padding: 10px;
}

.pagination__control-link {
   padding: 10px;
   text-decoration: none;
   background-color: yellow;
}

.pagination__control-link--left {
    background: no-repeat center url(/img/pagination/left.png);
}

.pagination__control-link--right {
    background: no-repeat center url(/img/pagination/right.png);
}

.pagination__control-link--active {
    opacity: .3;
}

.pagination__link {
    text-align: center;
    padding: 4px 9px ;
    text-decoration: none;
    font-family: robotobold, sans-serif;
    font-size: 14px;
}

.pagination__item--current .pagination__link {
    background-color: #2b2b40; color: white;
    border-radius: 5px;
}

/* FOOTER===================== */

.footer {
    width: 100%;
    background-color: #2b2b40;
    margin-top: 62px;
    color: white;
}

.footer.footer--offer {margin-top: 50px}

.footer .container {
    min-height: 78px; position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    width: 25%;
    padding: 0px 0 0px 0px;
    font-family: robotolight, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    /* flex-shrink: 0; */
}

.copyright__link {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

.social-holder {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.social {
    /* background: black; */
    /* position: absolute;
    right: 0; */
    /* padding-right: 20px; padding-left: 20px;
    padding-top: 16px; */
    font-family: gothamprobold, sans-serif;
    font-weight: 700;
    font-size:  14px;
    padding-right: 20px;
}

.social__title {
    padding-top: 10px;
    /* background-color: crimson; */
}

.social__list {
display: flex;
padding-top: 10px;
}

.social__item {
    display: inline-block; margin: 0; padding: 0;
}

.social__link {
    width: 22px; height: 22px; background: #d3d3d7;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer .logo {
    /* position: absolute;
    top: 16px;
    left: 498px; */
    flex: 1;
    /* background: yellowgreen; */
    display: flex;
    justify-content: center;
}

.social__item:hover .social__link {
    background-color: #cb2376;
}

.social__link-fb {
    background-image: url(/img/social/png/facebook.png);
    background-size: 40%;
}

.social__link-vk {
    background-image: url(/img/social/png/vk.png);
}

.social__link-mail{
    background-image: url(/img/social/png/envelope.png);
}

.social__link-twitter {
    background-image: url(/img/social/png/twitter.png);
}

/* ТАРИФЫ+++++++++++++++++++++++++++++ */
    /* КРОШКИ==== */
.breadscrumbs {
    font-family: gotham_prolight_italic, sans-serif;
    font-size: 14px;
    margin-top: 42px;
    margin-left: 14px;
}

.breadscrumbs__list {
    display: flex;
    list-style: none;
    /* margin-bottom: 30px; */
}

.breadscrumbs__item {
    display: flex;
}

.breadscrumbs__link {
text-decoration:  none;
display: flex;
color: #d66396;
text-decoration:  underline;
}

.breadscrumbs__item--current .breadscrumbs__link {
    color:black;
    text-decoration: none;
}
.breadscrumbs__link:before {
    content: "/";
    display: block;
    padding: 0 3px;
}

.breadscrumbs__item:first-child .breadscrumbs__link:before {
    display: none;
}
    /* ЦЕНЫ===== */
.title.title--tarifs {
    font-family: gothampro_bold, sans-serif;
    margin-top: 10px;
    margin-left: 12px;
    /* margin-bottom: 33px; */
    font-size: 49px;
}

.price {
    display: flex;
    flex-direction: column;
}

.price-row {
display: flex;
justify-content: space-between;
margin-right: 28px;
/* margin-left: 12px; */
}

.offer {
display: flex;
flex-direction:column;
width: 274px;
    padding-top: 33px;
    text-align: center;
    padding-bottom: 20px;
/* background: yellow; */
align-items: center;
}

.offer__img-box {
    width: 250px;
    height: 154px;
    position: relative;
    /* background: yellow; */
    display: flex;
    align-items:center;
    justify-content: center;
}

.offer__img {
display: block;
}

.offer__img-overlay {
    content: "";
    display: block;
    /* width: 250px;
    height: 154px; */
     position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: black;
    opacity: .85;
    z-index: 1;
}

.offer__img-box:hover .offer__img-overlay {
    display: none;
}

.offer__name {
    position: absolute;
    /* top: 0; bottom: 0; left: 0; right: 0; */
    margin: auto;
    /* border: 2px dotted red; */
    color: #8ad0f6;
    z-index: 2;
    font-family: gothampro_bold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.price-row:nth-child(2) .offer:nth-child(-n+2)
 .offer__name:before {
    content: "Vip";
    display: block;
    color: #cb2376;
    /* margin-bottom: 16px; */
    /* position: absolute; */
    /* z-index: 3; */
    /* font-size: 70px; */
    /* background: yellow;
    font-family: gothampro_bold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; */
}

.offer__title {
    font-family: gothampro_bold, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 21px;
    /* letter-spacing: .1em; */
    font-weight: 700;
    padding: 0 16px;
}

.offer__description {
    margin-top: 5px;
    font-size: 14px;
    font-family: gothampro_regular, sans-serif;
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
}

/* ПАРТНЕРЫ======================= */

.title.title--partners {
    margin: 28px 0 21px 16px;
    font-family: gothampro_bold, sans-serif;
    font-size: 49px;
    font-weight: 700;
}

.partners {
display: flex;
flex-direction: column;
}

.partners__row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 719px;
/* background: pink; */
/* align-items: center; */
}

.partners__unit-box {
    width: 180px; height: 80px;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 34px;
}

.partners__unit {
 width: 180px; height: 80px;
/* border: 2px solid red; */

}

.partners__unit-box:first-child .partners__unit {
    width: 160px; height: 41px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -0;
}

.partners__unit-box:first-child .partners__unit:hover {
    width: 160px; height: 41px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -41px;
}

.partners__unit-box:nth-child(2) .partners__unit {
    width: 123px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -202px;
}

.partners__unit-box:nth-child(2) .partners__unit:hover {
    width: 123px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -264px;
}


.partners__unit-box:nth-child(3) .partners__unit {
    width: 130px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -326px;
}


.partners__unit-box:nth-child(3) .partners__unit:hover {
    width: 130px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -388px;
}

/* второй ряд============= */

.partners__unit-box:nth-child(4) .partners__unit {
    width: 160px; height: 60px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -82px;
}


.partners__unit-box:nth-child(4) .partners__unit:hover {
    width: 160px; height: 60px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -142px;
}


.partners__unit-box:nth-child(5) .partners__unit {
    width: 137px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -450px;
}


.partners__unit-box:nth-child(5) .partners__unit:hover {
    width: 137px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -512px;
}


.partners__unit-box:nth-child(6) .partners__unit {
    width: 51px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -574px;
}

.partners__unit-box:nth-child(6) .partners__unit:hover {
    width: 51px; height: 62px;
    background: no-repeat url(/img/offer/partners/partners_sprite.png) -0 -636px;
}

.partners__unit:hover {
    cursor: pointer;
}

/* ОТЗЫВЫ==================== */
.comment {
    flex: 1;
}

/* ПРОМО============= */
.promo {
    background:#8ad0f6;
}

/* ФОРМА================ */

.form {
    background-color: #f4f4f4;
    padding: 50px 70px;
    /* border: transparent; */
    border-radius: 10px;
}
.author {
    display: flex;
}

.radio__holder {
    display: flex;
    
}
.radio__item {
    display: flex;
    /* flex-direction: row-reverse; */
    margin-right: 20px;
}

.comment {
padding: 30px 30px 25px 10px
}

/* .comment__title {

}

.comment__list {

} */

.comment__item {
display: flex;
}

.comment__img-box {
width: 162px; height: 162px;
display: flex;
overflow: hidden;
flex-shrink: 0;
border-radius: 50%;
position: relative;

}

.comment__img {
    display: block;
    margin: auto;
    /* height: 100%;
    width: 100%;
    object-fit: cover; */
    /* height: 100%; */
    height: 100%;
 width: 100%;
    object-fit: cover;
}

.comment__text-content {
flex: 1;
padding-left: 18px;
}